:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-drawer {
  width: 300px;
}

.route {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    background: lightgrey;
  }
}

mat-list {
  $gap: 0.5rem;

  padding: $gap;
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  height: 100%;
}

