<ng-container *ngIf="allPeople$ | async as allPeople">
  <mat-table [dataSource]="allPeople">
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.key"
    >
      <mat-header-cell *matHeaderCellDef>{{column.value}}</mat-header-cell>

      <mat-cell *matCellDef="let element">{{element[column.key]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>

      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="$event.stopPropagation(); deletePerson(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnKeys; sticky: true"></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: columnKeys;"
      (click)="editPerson($event, row)"
      class="cursor-pointer"
    ></mat-row>
  </mat-table>
</ng-container>

<button
  (click)="addPerson()"
  id="add-person"
  mat-fab
  aria-label="Add a person"
  color="primary"
>
  <mat-icon>add</mat-icon>
</button>
