<h1 mat-dialog-title>Add Person</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>

    <input matInput [(ngModel)]="newPerson.firstName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>

    <input matInput [(ngModel)]="newPerson.lastName">
  </mat-form-field>
</div>

<div class="flex justify-between" mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>

  <button mat-button [mat-dialog-close]="newPerson" cdkFocusInitial>Submit</button>
</div>
